<nav class="navbar">
  <div class="nav-container">
    <a class="logo" routerLink="/">Rakesh</a>
    <input type="checkbox" id="menu-toggle" class="menu-toggle" #menuToggle>
    <label for="menu-toggle" class="hamburger">&#9776;</label>

    <ul class="nav-links">
      <li><a routerLink="/" (click)="closeMenu(menuToggle)" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/about" (click)="closeMenu(menuToggle)" routerLinkActive="active">About</a></li>
      <li><a routerLink="/skills" (click)="closeMenu(menuToggle)" routerLinkActive="active">Skills</a></li>
      <li><a routerLink="/projects" (click)="closeMenu(menuToggle)" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/experience" (click)="closeMenu(menuToggle)" routerLinkActive="active">Experience</a></li>
      <li><a routerLink="/contact" (click)="closeMenu(menuToggle)" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
