.education {
  padding: 60px 20px;
  background-color: #ffffff;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
  }

  .edu-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1000px;
    margin: auto;
  }

  .card {
    background-color: #f4f4f4;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    p {
      margin: 4px 0;
    }
  }
}
